.*.swp
*.mode1v3
*.perspectivev3
*.pbxuser
.DS_Store
build
build_old
iOS/www/phonegap.js
deploy.sh
App.old
.rvmrc
.sass-cache
App/old
build.bz2
prototype-js/test/kiwoticum_json_renderer_map.json
client/node_modules
