// 1-column layout ===========================================================
//
//   +----+
//   |    |    1: Country Map Builder Form
//   |  1 |    2: Algorithm Form
//   |    |    3: Action Panel
//   +----+
//   |    |
//   |  2 |
//   +----+
//   |  3 |
//   +----+
//
.country-map-builder {
    width: 320px;
    margin: 1em auto;
    position: relative;
}

#country-map-builder-form {

    fieldset {
        display: inline-block;
        width: 280px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .actions {
        padding-top: 0.5em;
    }
}

