@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";

@import "_fonts";

.kwtcm-btn {
    display: inline-block;
    -webkit-appearance: none;

    margin-top: 10px;
    padding: 10px 20px;

    border: 0;
    @include border-radius(3px);

    @include kwtcm-btn-font(24px);

    color: #fff;
    @include text-shadow(1px 1px #333);
    background-color: #70a0bc;

    cursor: pointer;

    &:hover {
        background-color: lighten(#70a0bc, 10%);
    }

    &:focus {
        outline: 0;
    }
}

