/* iphone.css */

body {
    background-color: #b0d0f0;
    color: black;
    text-shadow: white 0px 1px 1px;
}

h3 {
    /*font-size: 15pt;*/
    /*font-weight: bold;*/
    /*background-color: #f27;*/
    /*color: white;*/
    /*text-shadow: #800 0px -1px 2px;*/
    /*display: inline-block;*/
    /*margin: 2pt 6pt;*/
    /*padding: 2pt 6pt;*/
    /*border-radius: 5px;*/

    text-indent: -9999px;
    background-image: url(kiwoticum.png);
    width: 270px;
    height: 79px;
    margin: 0.5em auto;
}

p {
    font-size: 11pt;
}

