
html, body {
	margin: 0;
	padding: 0;

	-webkit-text-size-adjust: none; /* important, or your text resizes randomly on rotation! */
}

body {
	color: #ffffff;
	background: #000000;
    background-image: url(../images/bg-blue2.png);
}

#container-country-map {
	position: absolute;
    top: 0;
    left: 0;
	width: 100%;
	height: 100%;

    overflow: hidden;
}

