@import "compass/css3/border-radius";

// 2-column layout ===========================================================
//
//   +---------+
//   |    |    |   1: Country Map Builder Form
//   |  1 | 2  |   2: Algorithm Form
//   |    |    |   3: Action Panel
//   +----+----+
//   |    3    |
//   +---------+
//
.country-map-builder {
    width: 640px;
    margin: 1em auto;
    position: relative;
}

#country-map-builder-form {
    fieldset {
        display: inline-block;
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }

    fieldset.cmb-general {
    }

    fieldset.cmb-algorithm {
        float: right;
    }

    .actions {
        padding-top: 1em;
    }
}
// ===========================================================================



#country-map-builder-form {
    //width: 300px;
    //margin-left: 10px;
    line-height: 2em;

    fieldset {
        margin-top: 0.5em;
        border: solid 1px #aaa;
        @include border-top-left-radius(10px);
        @include border-bottom-right-radius(25px);
        padding: 0 0.5em 0.5em 0.5em;
    }

    legend {
        text-align: center;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }

    p.br {
        height: 1em;
    }

    h5 {
        padding-top: 0.25em;
        margin-left: 0.25em;
    }

    input[type='number'] {
        text-align: center;
    }

    label {
        display: inline-block;
        text-align: right;
        width: 50%;
        margin-left: -0.5em;
        padding-right: 0.5em;
    }

    .actions {
        margin: 0.75em 0;
        text-align: center;
    }
}

