
// === visibility ============================================================

.playground {
    display: none;
}

body.playing {
    .country-map-builder, .load-info {
        display: none;
    }
    .playground {
        display: block;
    }
}

// === common settings =======================================================

body.playing {
    #battlefield {
        overflow: hidden;
        position: relative;

        background-color: #000000;
        //background: image-url("waaeloq.png");
        background: image-url("stripes-bg.png");

        #action-panel, #status-bar {
            text-align: center;
            width: 100%;
            position: absolute;
            z-index: 100;
            left: 0;
            height: 1em;

            background-color: rgba(0, 0, 0, 0.5);
            color: white;
        }

        #action-panel { top: 0; }
        #status-bar { bottom: 0; }
        
        #action-panel {
            height: 35px;

            .button.back {
                margin-top: 2px;
                margin-left: 20px;
                float: left;
            }
        }

        #status-bar {
			padding: 2px 0 2px 0;

            p.info {
                display: inline-block;
            }
        }

        #scrollable-canvas {
            //padding: 50px 30px 50px 30px;
            //position: absolute;
            //top: 0;
            //left: 0;

            svg {
                margin: 50px 30px 50px 30px;
                -webkit-transform:translate3d(0,0,0);
            }
        }
    }
}

// === layout ================================================================

// desktop-sized browser screens

@media all and (min-width: 481px) {

    body.playing {
        #battlefield {
            width: 100%;
            height: 100%;
            //margin: 0 0;
            //padding: 0 0;
        }
    }
}

// iphone screens

@media screen and (max-width: 480px), screen and (max-device-width: 480px) {

    body.playing {
        #battlefield {
            width: 100%;
            height: 480px;
        }
    }
}

