@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/text-shadow";

.uniformjsBtn {
    font-size: 1em;
    background-position: 0 bottom;
    @include border-radius(2px);
    @include box-shadow(rgba(0, 0, 0, 0.15), 0px, 1px, 3px, 0, false);
    border: solid 1px #6E93B0;
    background: image-url('btn-sm-bg.png') repeat-x 0px 0px;
    height: 27px;
    line-height: 26px;
    @include text-shadow(rgba(255, 255, 255, 0.5), 0px, 1px, 0px);
    margin-right: 5px;
    padding: 0 10px;
    display: inline;
    color: #234E70;
    font-weight: bold;
    text-decoration: none;
}

.uniformjsBtn:hover {
    text-decoration: underline;
    cursor: pointer;
}

// ==================================================================================
// back-next buttons from http://vxjs.org/buttons/SubpixelButtons-2/buttons.html
/*
    <div class="button bordered back"> 
        <span class="label">Back</span> 
    </div> 
*/

.button {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
/* Bordered Button Styles */
.button.bordered {
    -webkit-box-shadow: 0 1px 1px #9aa5bb, 0 -1px 1px #8e96a5; 
    border: solid 1px #54617d;
    border-color: #484e59 #54617d #4c5c7a #54617d; 
    display: inline-block;
    cursor: pointer;
    padding: 0px 10px;
    font-size: 12px;
    line-height: 28px;
    height: 30px;
    margin-top: 1px;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 5px;
    background-image: 
        -webkit-gradient(linear, left top, left bottom, 
            from(#92a1bf), 
            color-stop(0.25, #798aad),
            color-stop(0.5, #6276a0), 
            color-stop(0.5, #556a97), 
            color-stop(0.75, #566c98),
            to(#546993)); 
    color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
}
.button.bordered:hover, .button.bordered.touched {
    background-image: 
        -webkit-gradient(linear, left top, left bottom, 
            from(#7d88a5), 
            color-stop(0.25, #58698c),
            color-stop(0.5, #3a4e78), 
            color-stop(0.5, #253c6a), 
            color-stop(0.75, #273f6d),
            to(#273f6d));
    -webkit-tap-highlight-color: transparent;
}
/* End Bordered Button Styles */

/* Back Bordered Button Styles */
.button.bordered.back {
    padding: 0px 7px 0px 3px;
    margin-left: 10px;
    position: relative;
}
.button.bordered.back > span {
    position: relative;
    z-index: 1;
}
.button.bordered.back:before {
    content: " ";
    display: block;
    z-index: 0;
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            from(#bfa192), 
            color-stop(0.3, #ad8a79),
            color-stop(0.51, #a07662), 
            color-stop(0.51, #976a55), 
            color-stop(0.75, #986c56),
            to(#936954)); 
    border-left: solid 1px #594e48;
    border-bottom: solid 1px #bba59a;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 4px;
    height: 23.5px;
    width: 23.5px;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -webkit-mask-image: 
        -webkit-gradient(linear, left bottom, right top, 
            from(#000000), 
            color-stop(0.5,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
    position: absolute;
    left: -9px;
    top: 2.5px;
    -webkit-background-clip: content;
}
.button.bordered.back:hover:before, .button.bordered.back.touched:before {
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            from(#a5887d), 
            color-stop(0.3, #8c6958),
            color-stop(0.51, #784e3a), 
            color-stop(0.51, #6a3c25), 
            color-stop(0.75, #6d3f27),
            to(#6d3f27)); 
}

/* End Back Bordered Button Styles */

/* Next Bordered Button Styles */
.button.bordered.next {
    padding: 0px 3px 0px 7px;
    margin-right: 10px;
    position: relative;
}
.button.bordered.next > span {
    position: relative;
    z-index: 1;
}
.button.bordered.next:before {
    content: " ";
    display: block;
    z-index: 0;
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            from(#bfa192), 
            color-stop(0.3, #ad8a79),
            color-stop(0.51, #a07662), 
            color-stop(0.51, #976a55), 
            color-stop(0.75, #986c56),
            to(#546993)); 
    border-right: solid 1px #bba59a;
    border-top: solid 1px #594e48;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 4px;         
    height: 23.5px;
    width: 23.5px;
    display: inline-block;
    -webkit-transform: rotate(45deg);
    -webkit-mask-image: 
        -webkit-gradient(linear, right top, left bottom, 
            from(#000000), 
            color-stop(0.5,#000000), 
            color-stop(0.5, transparent), 
            to(transparent));
    position: absolute;
    right: -9px;
    top: 2.5px;
    -webkit-background-clip: content;
}
.button.bordered.next:hover:before, .button.bordered.next.touched:before {
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            from(#a5887d), 
            color-stop(0.3, #8c6958),
            color-stop(0.51, #784e3a), 
            color-stop(0.51, #6a3c25), 
            color-stop(0.75, #6d3f27),
            to(#6d3f27)); 
}
/* End Next Bordered Button Styles */

.button.bordered {
    -webkit-box-shadow: 0 1px 1px #242424, 0 -1px 1px #323232; 
    border: solid 1px #54617d;
    border-color: #404040 #262626 #404040 #262626; 
    background-image: 
        -webkit-gradient(linear, left top, left bottom, 
            from(#838383), 
            color-stop(0.5, #444444), 
            color-stop(0.5, #303030), 
            to(#333333)); 
}
.button.bordered.back:before {
    z-index: 0;
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            color-stop(0.05, #838383), 
            color-stop(0.5, #444444), 
            color-stop(0.5, #303030), 
            color-stop(0.98, #333333)); 
    border-left: solid 1px #262626;
    border-bottom: solid 1px #404040;
    top: 2.35px;
}

.button.bordered.next:before {
    z-index: 0;
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            color-stop(0.05, #838383), 
            color-stop(0.5, #444444), 
            color-stop(0.5, #303030), 
            color-stop(0.98, #333333)); 
    border-right: solid 1px #404040;
    border-top: solid 1px #262626;
    top: 2.35px;
}
.button.bordered:hover, .button.bordered.touched {
    background-image: 
        -webkit-gradient(linear, left top, left bottom, 
            from(#f58642), 
            color-stop(0.5, #f58642),
            color-stop(0.5, #db4f19),
            to(#db4f19));
    -webkit-tap-highlight-color: transparent;
}
.button.bordered.back:hover:before, 
.button.back.touched:before,
.button.bordered.next:hover:before, 
.button.next.touched:before {
    background-image: 
        -webkit-gradient(linear, left top, right bottom, 
            from(#f58642), 
            color-stop(0.5, #f58642),
            color-stop(0.5, #db4f19),
            to(#db4f19));
}


