- content_for :head do
  %title kiwoticum!

%section.page.country-map-builder
  %form#country-map-builder-form

%section.page.load-display
  = image_tag 'ajax-load-dark.gif', :alt => 'loading ..'

%section.page.playground
  #battlefield
    #scrollable-canvas
    #action-panel
      #reset-action.button.bordered.back
        %span.label< Reset
    #status-bar
      status-bar

