
* {
	box-sizing: border-box;
}

body, div {
	margin: 0;
	padding: 0;
}

body {
	margin-top: 10px;
	/*background-color: #fff;*/
	/*color: #222;*/

	/* http://www.colourlovers.com/palette/871636/A_Dream_in_Color */
	background-color: #1B676B;
	color: #EAFDE6;

	text-align: center;
}
