
body {
    font-family: Verdana, Sans-Serif;
    font-size: 13px;
}

#startup {
    border: 1px solid #305070;
    float: left;
}

#startup > h3 {
    margin: 0 0;
    padding: 2px 2px;
    background-color: #305070;
    color: #ffffff;
    cursor: pointer;
}

#startup > form {
    margin: 0 0;
    padding: 4px 2px;
}

path:hover {
    stroke: #f00;
    fill: #fac;
    cursor: pointer;
}

