// 2-column layout ===========================================================
//
//   +---------+
//   |    |    |   1: Country Map Builder Form
//   |  1 | 2  |   2: Algorithm Form
//   |    |    |   3: Action Panel
//   +----+----+
//   |    3    |
//   +---------+
//
.country-map-builder {
    width: 640px;
    margin: 3em auto;
    position: relative;
}

#country-map-builder-form {
    fieldset {
        display: inline-block;
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
    }

    fieldset.cmb-general {
    }

    fieldset.cmb-select-algorithm {
        position: absolute;
        top: 0;
        right: 0;
    }

    fieldset.cmb-algorithm {
        position: absolute;
        top: 100px;
        right: 0;
    }

    .actions {
        padding-top: 1em;
    }
}

