- content_for :head do
  %title kiwoticum!

%article.country-map-builder
  %form#country-map-builder-form

%article.load-display
  = image_tag 'ajax-load-dark.gif', :alt => 'loading ..'

%article.playground
  #battlefield

    #scrollable-canvas

    #action-panel
      .button.bordered.back
        %span.label< Back

    #status-bar
      status-bar

